<?xml version="1.0" encoding="UTF-8"?>
<Configuration
        name="Production"
        status="error"
        strict="true"
>
    <Filter type="ThresholdFilter" level="trace"/>

    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout" pattern="%d %p %C{1.} %m%n"/>
        </Appender>

    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>